@page
@model ZapisaneModel
@{
ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>

@if (Model.Check != null)
{   <ul>
<li>
@if(((Model.Check.Number % 4 == 0) && (Model.Check.Number % 100 != 0)) || (Model.Check.Number % 400 == 0))
            {
                <p>@Model.Check.Name ,@Model.Check.Number - rok przestepny</p>;
            }
            else
            {
                <p>@Model.Check.Name ,@Model.Check.Number - rok nie przestepny</p>;
            }
</li>
    </ul>
}
